.EntryComponent{
    margin: auto;
    width: 80%;
    color: white;
    display: flex;
}

.EntryComponent div {
    padding: 5px;
    margin: 1px;
    border-radius: 10%;
    background-color: black;
}

.EntryComponent div:hover{
    background-color: darkslategrey;
}

.Timestamp {
    width: 8em;
    word-wrap: break-word;
}

.Machine {
    width: 8em; 
    word-wrap: break-word;
}

.Command {
    width: 100%;
}